<!DOCTYPE html>
<html lang="en">
    {% load static %}
    {% load crispy_forms_tags %}
	<head>
        {% if user.is_authenticated %}
        <title>IXPN MEMBERSHIP CONNECTION DATABASE</title>
        {% else %}
        <title>-------</title>
        {% endif %}
		<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<link rel="stylesheet" href="{% static 'myStyle.css' %}" />
		<link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}" />
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}" />
        <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
      />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
		<script src="https://use.fontawesome.com/cc5e99677f.js"></script>
	</head>
	<body>
	<!-- Header -->
	<div class="navbar-div">
        
  
        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #2B5928;">
            <div class="container-fluid">
                {% if user.is_authenticated %}
            <a class="navbar-brand" href="{% url 'home' %}">IXPN CONNECTION DATABASE</a>
                {% endif %}
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                {% if user.is_authenticated %}
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link active" href="{% url 'list_members'%}">Members</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="{% url 'list_pops' %}">POPs</a>
                </li>
                {% if perms.add_pop and perms.add_member and perms.add_portconnection%}
                <li class="nav-item dropdown">
                    <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Add
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <a class="dropdown-item" href="{% url 'add_member' %}">Member</a>
                      <a class="dropdown-item" href="{% url 'add_pop' %}">POP</a>
                      <a class="dropdown-item" href="{% url 'add_portconnection' %}">Port Connection</a>
                      <a class="dropdown-item" href="{% url 'add_switch' %}">Switch</a>
                      <a class="dropdown-item" href="{% url 'add_switchport' %}">SwitchPort</a>
                      <a class="dropdown-item" href="{% url 'add_aka' %}">Aka</a>
                    </div>
                  </li>
                  {% endif %}
              </ul>
              
              <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                    <a class="nav-link active" href="{% url 'account_logout' %}">Logout</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'account_change_password' %}">Change Password</a>
                </li>
                {% else %}
              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link active" href="{% url 'account_login' %}">Login</a>
                </li>
                {% endif %}
            </ul>
              
            </div>
            </div>
          </nav>
    </div>
    <div class="blank">
        <br><br>
    </div>
    <div class="container-fluid">
    <div class="messages">
        <div class="animate__animated animate__zoomOutLeft animate__delay-5s">
            {% if messages %}
            <ul class="messages">
            {% for message in messages %}
            <li {% if message.tags %} 
            class="alert alert-{{ message.tags }}"
            {% else %}
            class="alert alert-primary"
            {% endif %}>
            <div  role="alert">{{ message }}</div></li>
            {% endfor %}
            </ul>
            {% endif %}
          </div>
        </div>
    </div>

        {% if messages %}
        {% else %}
        <br><br><br><br>
        {% endif %}
        {% if user.is_authenticated %}
    <img src="{% static 'ixpn5.png' %}" class="rounded mx-auto d-block" alt="IXPN LOGO">
<h1 class="text-center heading1 animated bounceInDown">IXPN MEMBERS CONNECTION DATABASE</h1>
    {% endif %}
    
     

    <!-- The flexible grid (content) -->
    <div class="row">
        {% if filter %}
		<div class="side">
            {% block side %}{% endblock %}
        </div>
        {% endif %}


		<div class="main">
                {% block content %}{% endblock %}
          </div>
    </div>
    

	<!-- Footer -->
	<div class="footer">
        {% if user.is_authenticated %}
        <p>© Internet Exchange point of Nigeria  {% now  "Y" %}</p>
        {% else %}
        <p>© ABC  {% now  "Y" %}</p>
        {% endif %}
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	<script type="text/javascript" src="{% static 'ajaxFormSubmit.js' %}"></script>

	</body>
	</html>
