{% extends "account/base.html" %}

{% load i18n %}
{% load i18n widget_tweaks %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<div class="text-center">

    <h1>{% trans "Password Reset" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

    <br>
    <br>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        <div class="row justify-content-md-center">
                <div class="col-md-4">
                    <div class="form-group">
                        {{ form.email|attr:"class:form-control"}}
                        <label class="form-control-placeholder" for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
                        {{ form.email.errors }}
                        <br> 
                    </div>
                </div>
            </div>
            <div class="row justify-content-md-center">
                <div class="col-md-4">
                    
                <button type="submit" class="btn btn-primary btn-block">{% trans 'Reset My Password' %}</button>
                </div>
            </div>
     
    </form>
    <br>
    <br>

    <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
</div>
{% endblock %}
