{% extends 'account/base.html' %}
{% load crispy_forms_tags %}
{% block title %}  Sign In {% endblock %}

{% block content %}
<h1 class="text-center heading1 animated bounceInDown">Change Password</h1>

    {% if form.errors %}
	    {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-danger" role="alert">{{ error|escape }}</div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
                {{ error|escape }}
            </div>
        {% endfor %}
    {% endif %}
 	
<form class="text-dark" id="login_form" method="POST" action="{% url 'account_change_password' %}">
    
    {% csrf_token %}
    <div class="form-row justify-content-center">
      <div class="form-group col-md-4 align-center">
        {{ form.oldpassword|as_crispy_field }}
	  </div>
    </div>
      
    <div class="form-row justify-content-center">
      <div class="form-group col-md-4 align-center">
        {{ form.password1|as_crispy_field }}
	  </div>
    </div>
    <div class="form-row justify-content-center">
        <div class="form-group col-md-4 align-center">
          {{ form.password2|as_crispy_field }}
        </div>
      </div>
	  <div class="form-row justify-content-center">
		<div class="form-group col-md-4 align-center">
			<button type="submit" class="btn btn-block align-center submit-button">Change Password</button>
        </div>
        </div>
    
  </form>
  <br><br><br><br>


    
{% endblock %}