* {
    box-sizing: border-box;
}

/* Style the body */
body {
  font-family: Arial;
  margin: 0;
  padding-bottom: 20%;

}

  
.hidden-filter-icon {
    display: none;
}
/* Header/logo Title */
.header {
    color:whitesmoke;
}



/* Column container */
.row {  
    display: flex;
    flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
    flex: 25%;
    font-size: small;
    color: #2B5928;
   font-weight: bolder;
   padding-left: 20px;
   padding-right: 10px;
   margin-bottom: 40px;
}

div.tty {
    position: sticky;
    top: 0;
    border: 2px solid #2B5928;
    border-radius: 10px;

}

/* Main column */
.main {
    flex: 75%;
    background-color: white;
    padding-right: 10px;

}
.blank {
    display: none;
}

.all-forms {
    border: 5px solid #2B5928;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 15px;
}

/* Footer */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
    text-align: center;
    background: #2B5928;
    color: whitesmoke;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 500px) {
.row, .navbar {   
  flex-direction: column;
}

.hide-on-mobile {
    display: none;
   
}
.main {
    margin: 8px;
    padding-right: 3px;
}

.side {
    margin: 8px;
    padding-right: 20px;
    padding-left: 10px;
    margin-bottom: 50px;
}


.portc-section {
    margin-left: 10px;
    padding-right: 10px;
}

.hidden-filter-icon {
    display: block;
    color: whitesmoke;
    float:right;
    position: relative;
    z-index: 10;
    padding-right: 10px;
    font-size: smaller;
}

.dropdown {
    display: block;
    float:right;
    position: relative;
    z-index: 10;
    font-size: smaller;
}
.tty {
    display: none;
}

.blank {
    display: block;
}


table.switch-table td:nth-of-type(4),
table.switch-table td:nth-of-type(5),
table.switch-table td:nth-of-type(6),
table.switch-table td:nth-of-type(7),
table.switch-table th:nth-of-type(4),
table.switch-table th:nth-of-type(5),
table.switch-table th:nth-of-type(6),
table.switch-table th:nth-of-type(7),
table.switchport-table th:nth-of-type(1),
table.switchport-table th:nth-of-type(5),
table.switchport-table th:nth-of-type(6),
table.switchport-table td:nth-of-type(1),
table.switchport-table td:nth-of-type(5),
table.switchport-table td:nth-of-type(6),
table.pop-table td:nth-of-type(1),
table.pop-table th:nth-of-type(1),
table.pop-table td:nth-of-type(6),
table.pop-table th:nth-of-type(6) {

    display: none;
}

.table-responsive {
    padding-right: 10px;
}

}

table {
font-family: arial, sans-serif;
border-collapse: collapse;
width: 100%;

} 

td, th {
border-bottom: 1px solid #2B5928;
text-align: left;
padding: 5px;
font-size: small;
}





caption {
  background-color: #2B5928;
  color: whitesmoke;
  caption-side: top;
  text-align: center;
  font-weight: 900;
  font-size: x-large;
}

th {
  background: white;
  position: sticky;
  top: 50px; /* Don't forget this, required for the stickiness */
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
}

tfoot {
    background: white;
    position: sticky;
    bottom: 50px; /* Don't forget this, required for the stickiness */
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
  }


  .navbar {
      position: fixed;
      width: 100%;
      top: 0;
      z-index: 11;
  }

  a.link-button:link, a.link-button:visited {
    background-color: #2B5928;
    color: whitesmoke;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10em;
  }
  
  a.link-button:hover, a:active {
    background-color: seagreen;
    text-decoration: underline;
  }

  a:hover {
      background-color: seagreen;
  }
  
  .table-responsive {
    min-height: .01%;
    overflow-x: auto;
    padding-right: 10px;
}


.submit-button {
    background-color:  #2B5928;
    color: whitesmoke;
    border-color: whitesmoke;
    border-radius: 15px;
}

.messages {
    margin-top: 5%;
}

.heading1 {
    color:#2B5928;
    margin-top: 1em;
    margin-bottom: 1em;
}

label{
    font-weight: bolder;
    padding-left: 5px;
}

select {

 
    box-shadow: 0 0 5px #2B5928;
}

input {
    

    box-shadow: 0 0 5px #2B5928;
}
#submitFilter {
    display: none;
}


.filter-icon {
    color: whitesmoke;
    /* color: #2B5928; */

}

button.filter-icon {
    color: whitesmoke;
    outline: none;
}

button:active
{
       color: whitesmoke; 
       outline: none;
       border-color: whitesmoke;
}

button:focus {
    color: whitesmoke; 
    outline: none;
    border-color: whitesmoke;
}

.dropdown-menu label {
    display: block;
    font-size: small;
  }

  #id_switch_port option[disabled] {
    display: none;
}

.green {
    color:  #2B5928;
}

.amber {
    color: orangered;
}

tr.total {
    background-color:#2B5928;
    color: whitesmoke;
    font-size:larger;
    font-weight: 600;
}

div.pager {
    text-align: center; 
    margin-top: 15px;
}

div.pager span {
    display: inline-block;
    width: 1.8em;
    height: 1.8em;
    line-height: 1.8;
    text-align: center;
    cursor: pointer;
    background: #191919;
    color: #ccc;
    margin-right: 0.5em;
}

div.pager span.active {
    background: #fff;
    color:#191919;
    font-weight:bold;
    text-align:center;
}


.dropdown {
    display: block;
    float:right;
    position: relative;
    z-index: 10;
    padding-right: 10px;
    
}