* {
    box-sizing: border-box;
}

/* Style the body */
body {
  font-family: Arial;
  margin: 0;
  padding-bottom: 20%;

}

  
/* Header/logo Title */
.header {
    color:whitesmoke;
}



/* Column container */
.row {  
    display: flex;
    flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
    flex: 25%;
    padding-left: 20px;
    font-size: small;
    color: #2B5928;
   font-weight: bolder;
}

div.tty {
    position: sticky;
    top: 0;
    border: 5px solid #2B5928;
    border-radius: 10px;
}

/* Main column */
.main {
    flex: 75%;
    background-color: white;

    


}

/* Footer */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
    text-align: center;
    background: #2B5928;
    color: whitesmoke;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 500px) {
.row, .navbar {   
  flex-direction: column;
}
}

table {
font-family: arial, sans-serif;
border-collapse: collapse;
width: 100%;
} 

td, th {
border: 2px solid black;
text-align: center;
padding: 5px;
font-size: small;
}


tr:nth-child(even) {
background-color: #dddddd;
}


caption {
  background-color: #2B5928;
  color: whitesmoke;
  caption-side: top;
  text-align: center;
  font-weight: 900;
  font-size: x-large;
}



  .navbar {
      position: fixed;
      width: 100%;
      top: 0;
      z-index: 1;
  }

  a.link-button:link, a.link-button:visited {
    background-color: #2B5928;
    color: whitesmoke;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10em;
  }
  
  a.link-button:hover, a:active {
    background-color: seagreen;
    text-decoration: underline;
  }

  a:hover {
      background-color: seagreen;
  }
  

  @media 
only screen and (max-width: 700px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr, caption { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid black; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 2px solid black; 
		position: relative;
		padding-left: 15%; 
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
	/*
	Label the data
    */
	td:nth-of-type(1):before { content: "S/NO"; }
	td:nth-of-type(2):before { content: "Menber"; }
	td:nth-of-type(3):before { content: "POP"; }
	td:nth-of-type(4):before { content: "PORT CAPACITY"; }
	td:nth-of-type(5):before { content: "MEMBERSHIP"; }
	td:nth-of-type(6):before { content: "STATUS"; }
	td:nth-of-type(7):before { content: "NO OF PORTS"; }
	td:nth-of-type(8):before { content: "PORT FEE"; }
	td:nth-of-type(9):before { content: "MEMBERSHIP FEE"; }
}
.submit-button {
    background-color:  #2B5928;
    color: whitesmoke;
    border-radius: 25px;
}

.messages {
    margin-top: 5%;
}

.heading1 {
    color:#2B5928;
    margin-top: 1em;
    margin-bottom: 3em;
}

label{
    font-weight: bolder;
    padding-left: 5px;
}

select {

 
    box-shadow: 0 0 5px #2B5928;
}

input {
    

    box-shadow: 0 0 5px #2B5928;
}
#submit {
    display: none;
}

