{% extends 'account/base.html' %}
{% load crispy_forms_tags %}


{% block content %}

{% if port_obj %}
<h1 class="text-center heading1 animated bounceInDown">Edit {{ port_obj }}</h1>
{% else %}
<h1 class="text-center heading1 animated bounceInDown">Add port connection</h1>
{% endif %}
<form method="POST">
    {% csrf_token %}
    <input type="hidden" id="Urll" data-ports-url="{% url 'ajax_load_ports' %}" />
    <input type="hidden" id="swiname" data-ports-name="{{ port_obj.switch_port.name }}" />
    <input type="hidden" id="swiid" data-ports-id="{{ port_obj.switch_port.id }}" />


    <div class="form-row justify-content-center">
        <div class="form-group col-md-6 mr-4 align-center">
            {{ form.member_name|as_crispy_field }}
        </div>
    </div>
    <div class="form-row justify-content-center">
        <div class="form-group col-md-3 mr-4 align-center">
            {{ form.switch|as_crispy_field }}
        </div>
        <div class="form-group col-md-3 mr-4 align-center">
            {{ form.switch_port|as_crispy_field }}
        </div>
    </div>
    <div class="form-row justify-content-center">
    <div class="form-group col-md-3 mr-4 align-center">
        {{ form.membership_fee|as_crispy_field }}
    </div>
    <div class="form-group col-md-3 mr-4 align-center">
        {{ form.port_fee|as_crispy_field }}
    </div>
    </div>
    <div class="form-row justify-content-center">
        <div class="form-group col-md-3 mr-4 align-center">
            {{ form.port_capacity|as_crispy_field }}
        </div>
        <div class="form-group col-md-3 mr-4 align-center">
            {{ form.date_connected|as_crispy_field }}
        </div>
        </div>
       
   <div class="form-row justify-content-center ">
    <div class="col-md-6">
        <button type="submit" class="btn btn-block submit-button">Save Changes</button>
      </div>
   </div>
      
    </form>
    <br><br>
    

{% endblock %}