{% extends 'account/base.html' %}
{% load crispy_forms_tags %}


{% block content %}

{% if switch_obj %}
<h4 class="text-center heading1 animated bounceInDown">Edit {{ switch_obj }}</h4>
{% else %}
<h4 class="text-center heading1 animated bounceInDown">Add Switch</h4>
{% endif %}
<form method="POST">
    {% csrf_token %}
    <div class="form-row justify-content-center">
        <div class="form-group col-md-3 mr-4 align-center">
            {{ form.name|as_crispy_field }}
        </div>
        <div class="form-group col-md-3 mr-4 align-center">
            {{ form.oem|as_crispy_field }}
        </div>
    </div>
    <div class="form-row justify-content-center">
        <div class="form-group col-md-3 mr-4 align-center">
            {{ form.model|as_crispy_field }}
        </div>
        <div class="form-group col-md-3 mr-4 align-center">
            {{ form.serial_no|as_crispy_field }}
        </div>
    </div>
    <div class="form-row justify-content-center">
    <div class="form-group col-md-3 mr-4 align-center">
        {{ form.pop|as_crispy_field }}
    </div>
    <div class="form-group col-md-3 mr-4 align-center">
        {{ form.ipv4_address|as_crispy_field }}
    </div>
    </div>
       
   <div class="form-row justify-content-center ">
    <div class="col-md-6">
        <button type="submit" class="btn btn-block submit-button">Save Changes</button>
      </div>
   </div>
      
    </form>
    <br><br>
    

{% endblock %}