{% extends 'account/base.html' %}
{% load crispy_forms_tags %}


{% block content %}
{% if pop_obj %}
<h4 class="text-center heading1 animated bounceInDown">Edit {{ pop_obj }}</h4>
{% else %}
<h4 class="text-center heading1 animated bounceInDown">Add POP</h4>
{% endif %}


<form method="POST">
{% csrf_token %}
<div class="form-row justify-content-center">
    <div class="form-group col-md-3 mr-4 align-center">
        {{ form.name|as_crispy_field }}
      </div>
</div>
<div class="form-row justify-content-center">
      <div class="form-group col-md-3 mr-4 align-center">
          {{ form.state_located|as_crispy_field }}
        </div>
       
</div>
<div class="form-row justify-content-center">
    {% if perms.members.add_pop and pop_obj %}
    <div class="form-group col-md-1 mr-4 align-center">
            <a href="{% url 'delete_item' pop_obj.id pop_obj.slug model %}" class="btn btn-danger btn-block confirm-delete">Delete</a>
</div>{% endif %}
    <div class="form-group col-md-1 mr-3 align-center">
        <input type="submit" class="btn btn-block submit-button"/>
      </div>
     
</div>

</form>

{% endblock %}