{% extends 'account/base.html' %}
{% load crispy_forms_tags %}


{% block content %}
{% if port_obj %}
<h1 class="text-center heading1 animated bounceInDown">Edit {{ port_obj }}</h1>
{% else %}
<h1 class="text-center heading1 animated bounceInDown">Add port connection</h1>
{% endif %}

<form method="POST">
    {% csrf_token %}
    <div class="form-row justify-content-center">
        <div class="form-group col-md-8 mr-4 align-center">
            {{ form.member_name|as_crispy_field }}
        </div>
    </div>
    <div class="form-row justify-content-center">
        <div class="form-group col-md-4 mr-4 align-center">
            {{ form.port_capacity|as_crispy_field }}
        </div>
        <div class="form-group col-md-4 mr-4 align-center">
            {{ form.no_of_port|as_crispy_field }}
        </div>
    </div>
    <div class="form-row justify-content-center">
    <div class="form-group col-md-4 mr-4 align-center">
        {{ form.membership_fee|as_crispy_field }}
    </div>
    <div class="form-group col-md-4 mr-4 align-center">
        {{ form.port_fee|as_crispy_field }}
    </div>
    </div>
    <div class="form-row justify-content-center">
        <div class="form-group col-md-4 mr-4 align-center">
            {{ form.pop|as_crispy_field }}
        </div>
        <div class="form-group col-md-4 mr-4 align-center">
            {{ form.date_connected|as_crispy_field }}
        </div>
        </div>
       
   <div class="form-row justify-content-center ">
    <div class="col-md-8">
        <button type="submit" class="btn btn-block submit-button">Save Changes</button>
      </div>
   </div>
      
    </form>
    <br><br><br><br>

{% endblock %}