{% extends 'account/base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block side %}
<!-- <div class="container-fluid"> -->
        <div class="tty">
            <h4 class="text-center">Filters</h4>
            <form method="get" action="{% url 'home' %}">
            {{ filter.form | crispy }}
            <div class="form-row">
                <div class="form-group col-auto">
                    <button type="button" class="submit-button reset-button">Clear Filters</button>
                    <button type="submit" id="submit" class="btn btn-block submit-button">Clear Filters</button>
                    <input type="hidden" id="Url" data-url="{% url 'home' %}" />
                </div>
            </div>
        </form>
        </div>
    <!-- </div> -->

{% endblock %}
        

{% block content %}

<div class="container-fluid">
    <div class="hidden-filter-icon">
        <button class="submit-button" type="button">&nbsp;<i class="fa fa-filter filter-icon fa-2x"></i>filter&nbsp;&nbsp;</button>
    <br><br>
    </div>
    <div class="animate__animated animate__backInLeft">
        {{ html|safe}}
    </div>

</div>




{% endblock %}