{% extends 'account/base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}



<img src="{% static 'ixpn5.png' %}" class="rounded mx-auto d-block" alt="IXPN LOGO">
<h1 class="text-center heading1 animated bounceInDown">IXPN POPS</h1>

    {% if perms.members.add_pop %}
        <a class="tt" href="{% url 'add_pop' %}">Add POP</a>
    {% endif %}
    <br><br>


{{ html|safe }}
<br>
{% if perms.members.add_pop %}
        <a class="tt" href="{% url 'add_pop' %}">Add POP</a>
    {% endif %}


<br><br><br><br>

    {% endblock %}
