{% extends 'account/base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}
<div class="container">
    <div id="tablelen">
    <label>Show&nbsp;
        <select id="table-length">
            <option value="25" selected>25</option>
            <option value="50">50</option>
            <option value="100">100</option>
            <option value="250">250</option>
            <option value="500">500</option>
            <option value="1000">1000</option>
        </select>&nbsp;entries
    </label>
    </div>
    {{ html|safe }}
</div>
{% endblock %}
